# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the Smart Editor addon when downloading from the Asset Library.
/**                         export-ignore
/addons                     !export-ignore
/addons/smart-editor-plugin !export-ignore
/addons/smart-editor-plugin/** !export-ignore
/addons/smart-editor-plugin/media/demo.gif export-ignore
